/* components/Header.module.css */
.header {
  background: #fff;
  padding: 1rem 0;
  border-bottom: #333 2px solid;
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  
}

a {
  text-decoration: none;
}

/*.logo {
  font-size: 1.5rem;
  font-weight: bold;
}*/

.menu {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuItem {
  font-size: 1.1rem;
}

.link {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}



.link:hover {
  color: #007bff;
}

.menuButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #333;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .menuButton {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  .menu.active {
    display: flex;
  }

  .menuItem {
    padding: 0.5rem 0;
  }
}

.authBlock {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.userName {
  color: #333;
  font-weight: 500;
}



.authButton {
  padding: 0.5rem 1rem;
  background-color: #BA1D20;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.authButton:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .authBlock {
    order: -1;
    margin-left: auto;
    padding-right: 1rem;
  }
}